<div class="contact">
    <h2>Feel free to contact us:</h2>
    <div>
        Name: Vishesh Jain
        <br>
        Profile: Senior Developer
        <br>
        Contact Number: 78989240482
        <br>
        Address: 45,Chaudhary Electricals,main road,Jatara(MP)
    </div>
</div>
<h2>Feel free to contact us:</h2>
<div>
    Name: Sumit Sharma
    <br>
    Profile: Senior Developer
    <br>
    Contact Number:7987890124
    <br>
    Address: 255,Raja ram Nagar Dewas(MP)
</div>

<h2>Feel free to contact us:</h2>
<div>
    Name: Meenal Solanki
    <br>
    Profile: Senior Developer
    <br>
    Contact Number: 78989240482
    <br>
    Address: 145,Rishi nagar,main road,Ujjain(MP)
</div>
