<form [formGroup]="vregForm" (ngSubmit)="show3()">
    <div class="form-group">
        <label for="exampleFormControlInput1">Vehicle Number</label>
        <input type="text" formControlName="vehicleName" class="form-control" id="exampleFormControlInput1" placeholder="Vehicle Name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2">Vehicle Image</label>
        <input type="text" formControlName="image" class="form-control" id="exampleFormControlInput2" placeholder="Vehicle Image">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput3">Rent</label>
        <input type="Number" formControlName="rent" class="form-control" id="exampleFormControlInput3" placeholder="RS/-">
    </div>
    
<input type="submit" class="btn btn-primary" name="submit" value="submit">
</form>
